In [2]:
import pandas as pd

Load dataframes

In [80]:
df_test = pd.read_csv('data/datasets_full/social_spambots_1/users.csv', index_col=False, encoding='utf-8')
df_test

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,verified,notifications,description,contributors_enabled,following,created_at,timestamp,crawled_at,updated,test_set_1
0,24858289,Davide Bertoli,davideb66,1299,22,40,1,0,NaN,it,...,NaN,NaN,NaN,NaN,NaN,Tue Mar 17 08:51:12 +0000 2009,2009-03-17 09:51:12,2014-04-19 14:46:19,2016-03-15 14:12:22,1
1,33212890,Elisa D'Ospina,ElisaDospina,18665,12561,3442,16358,110,http://t.co/ceK8TovxwI,it,...,NaN,NaN,Autrice del libro #unavitatuttacurve dal 9 apr...,NaN,NaN,Sun Apr 19 14:38:04 +0000 2009,2009-04-19 16:38:04,2014-05-18 23:20:58,2016-03-15 14:17:13,1
2,39773427,Donato Vincenzo,Vladimir65,22987,600,755,14,6,NaN,it,...,NaN,NaN,[Live Long and Prosper],NaN,NaN,Wed May 13 15:34:41 +0000 2009,2009-05-13 17:34:41,2014-05-13 23:21:54,2016-03-15 14:16:44,1
3,57007623,Rafiela Morales L.,RafielaMorales,7975,398,350,11,2,NaN,en,...,NaN,NaN,"Cuasi Odontologa*♥,#Bipolar, #Sarcastica & Som...",NaN,NaN,Wed Jul 15 12:55:03 +0000 2009,2009-07-15 14:55:03,2014-05-19 23:24:18,2016-03-15 14:18:54,1
4,63258466,§ h a † u r♄,FabrizioC_c,20218,413,405,162,8,http://t.co/PK5F0JDKcy,it,...,NaN,NaN,"I shall rise from my own death, to avenge hers...",NaN,NaN,Wed Aug 05 21:12:49 +0000 2009,2009-08-05 23:12:49,2014-05-11 23:22:23,2016-03-15 14:17:05,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
986,2286273170,falomar,paolofalomar,450,4455,4844,0,2,NaN,it,...,NaN,NaN,Carpe diem.,NaN,NaN,Sat Jan 11 07:50:27 +0000 2014,2014-01-11 08:50:27,2014-06-09 23:22:02,2016-03-15 14:14:19,1
987,2287318956,Marco Nuovoi,marconuovoi,460,3731,3994,0,1,NaN,it,...,NaN,NaN,"Studente di medicina, appassionato di calcio e...",NaN,NaN,Sat Jan 11 23:32:53 +0000 2014,2014-01-12 00:32:53,2014-06-08 23:24:17,2016-03-15 14:14:54,1
988,2290264806,Enzo,enzocolecchia,485,4669,5117,0,6,NaN,it,...,NaN,NaN,Pronto al peggio.,NaN,NaN,Mon Jan 13 22:12:21 +0000 2014,2014-01-13 23:12:21,2014-06-09 23:23:30,2016-03-15 14:12:11,1
989,2398910547,Southern Fields,southern_fields,730,1132,914,557,1,NaN,en,...,NaN,NaN,"Just a plain ol' country boy. I love God, Geor...",NaN,NaN,Mon Mar 10 07:48:09 +0000 2014,2014-03-10 08:48:09,2014-05-02 23:22:50,2016-03-15 14:16:12,1
990,2525273432,CHIARA PERISSINOTTO,chianotto,85,963,1820,12,0,NaN,it,...,NaN,NaN,NaN,NaN,NaN,Mon May 26 15:32:52 +0000 2014,2014-05-26 17:32:52,2014-06-09 23:20:13,2016-03-15 14:19:44,1

In [75]:
df_ss1 = pd.read_csv('data/datasets_full/social_spambots_1/tweets.csv', index_col=False, encoding='utf-8')
df_ss2 = pd.read_csv('data/datasets_full/social_spambots_2/tweets.csv', index_col=False, encoding='utf-8')
df_ss3 = pd.read_csv('data/datasets_full/social_spambots_3/tweets.csv', index_col=False, encoding='utf-8')
df_ts1 = pd.read_csv('data/datasets_full/traditional_spambots_1/tweets.csv', index_col=False, encoding='utf-8')
df_ff = pd.read_csv('data/datasets_full/fake_followers/tweets.csv', index_col=False, encoding='utf-8')
df_ga = pd.read_csv('data/datasets_full/genuine_accounts/my_table.csv', delimiter='\t', encoding='latin1')

/tmp/ipykernel_4093340/1621198700.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ss1 = pd.read_csv('data/datasets_full/social_spambots_1/tweets.csv', index_col=False, encoding='utf-8')
/tmp/ipykernel_4093340/1621198700.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ss2 = pd.read_csv('data/datasets_full/social_spambots_2/tweets.csv', index_col=False, encoding='utf-8')
/tmp/ipykernel_4093340/1621198700.py:3: DtypeWarning: Columns (7,10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ss3 = pd.read_csv('data/datasets_full/social_spambots_3/tweets.csv', index_col=False, encoding='utf-8')
/tmp/ipykernel_4093340/1621198700.py:5: DtypeWarning: Columns (8,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ff = pd.read_csv('data/datasets_full/fake_followers/tweets.csv', index_col=False, encoding='utf-8')
/tmp/ipykernel_4093340/1621198700.py:6: DtypeWarning: Columns (0,1,2,5,6,7,8,9,10,12,13,14,15,19,20,21,22,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ga = pd.read_csv('data/datasets_full/genuine_accounts/my_table.csv', delimiter='\t', encoding='latin1')

Remove columns and create one bot dataframe.

In [76]:
df_ss1.drop(columns=['id',
                     'source',
                     'truncated',
                     'in_reply_to_status_id',
                     'retweeted_status_id',
                     'geo',
                     'contributors',
                     'favorited',
                     'retweeted',
                     'created_at',
                     'timestamp',
                     'crawled_at',
                     'updated'
                    ], inplace=True
           )

df_ss2.drop(columns=['id',
                     'source',
                     'truncated',
                     'in_reply_to_status_id',
                     'retweeted_status_id',
                     'geo',
                     'contributors',
                     'favorited',
                     'retweeted',
                     'created_at',
                     'timestamp',
                     'crawled_at',
                     'updated'
                    ], inplace=True
           )

df_ss3.drop(columns=['id',
                     'source',
                     'truncated',
                     'in_reply_to_status_id',
                     'retweeted_status_id',
                     'geo',
                     'contributors',
                     'favorited',
                     'retweeted',
                     'created_at',
                     'timestamp',
                     'crawled_at',
                     'updated'
                    ], inplace=True
           )

df_ts1.drop(columns=['id',
                     'source',
                     'truncated',
                     'in_reply_to_status_id',
                     'retweeted_status_id',
                     'geo',
                     'contributors',
                     'favorited',
                     'retweeted',
                     'created_at',
                     'timestamp',
                     'crawled_at',
                     'updated'
                    ], inplace=True
           )

df_ff.drop(columns=['id',
                     'source',
                     'truncated',
                     'in_reply_to_status_id',
                     'retweeted_status_id',
                     'geo',
                     'contributors',
                     'favorited',
                     'retweeted',
                     'created_at',
                     'timestamp'
                    ], inplace=True
           )

df = pd.concat([df_ss1, df_ss2, df_ss3, df_ts1, df_ff])

# create label for bots
df['bot'] = 1

Create actual users.

In [77]:
df_ga.drop(columns=['id',
                     'source',
                     'truncated',
                     'in_reply_to_status_id',
                     'retweeted_status_id',
                     'geo',
                     'contributors',
                     'favorited',
                     'retweeted',
                     'created_at',
                     'timestamp',
                     'crawled_at',
                     'updated'
                    ], inplace=True
           )

df_ga['bot'] = 0

Add to main df and reset index.

In [78]:
df = pd.concat([df, df_ga])

df.reset_index(drop=True, inplace=True)
df

,text,user_id,in_reply_to_user_id,in_reply_to_screen_name,place,retweet_count,reply_count,favorite_count,possibly_sensitive,num_hashtags,num_urls,num_mentions,bot
0,I Pooh - In silenzio 1968 http://t.co/ahvQxUqTws,24858289.0,0,NaN,NaN,0,0,0,NaN,0.0,1,0,1
1,http://t.co/HyI5EQKz6Q,24858289.0,0,NaN,NaN,0,0,0,NaN,0.0,1,0,1
2,"Tutti a tavola, con il filetto di baccalà. htt...",24858289.0,0,NaN,NaN,0,0,0,NaN,0.0,1,0,1
3,http://t.co/NAHQ4l2pUy,24858289.0,0,NaN,NaN,0,0,0,NaN,0.0,1,0,1
4,Gold - Spandau Ballet http://t.co/o8ZJHt7Neu,24858289.0,0,NaN,NaN,0,0,0,NaN,0.0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23984833,RT @tyleroakley: ahhhh! I see #BringYoutubersT...,147900782.0,0.0,NaN,NaN,4678,0,0.0,NaN,1.0,0,1,0
23984834,RT @9GAG: Heaven is a place on earth with you ...,147900782.0,0.0,NaN,NaN,9368,0,0.0,NaN,0.0,0,1,0
23984835,WOAH. #LowerPricesForHoneymoonTourPH needs to ...,147900782.0,0.0,NaN,NaN,0,0,0.0,NaN,1.0,0,0,0
23984836,Let me start off with a clean slate.,147900782.0,0.0,NaN,NaN,0,0,0.0,NaN,0.0,0,0,0
23984837,@5soskittle @HiOrHeyRecords @5SOS I know! I ca...,147900782.0,523267467.0,5soskittle,NaN,0,0,0.0,NaN,0.0,0,4,0

In [81]:
df[df['in_reply_to_user_id'] == 0]

,text,user_id,in_reply_to_user_id,in_reply_to_screen_name,place,retweet_count,reply_count,favorite_count,possibly_sensitive,num_hashtags,num_urls,num_mentions,bot
0,I Pooh - In silenzio 1968 http://t.co/ahvQxUqTws,24858289.0,0,NaN,NaN,0,0,0,NaN,0.0,1,0,1
1,http://t.co/HyI5EQKz6Q,24858289.0,0,NaN,NaN,0,0,0,NaN,0.0,1,0,1
2,"Tutti a tavola, con il filetto di baccalà. htt...",24858289.0,0,NaN,NaN,0,0,0,NaN,0.0,1,0,1
3,http://t.co/NAHQ4l2pUy,24858289.0,0,NaN,NaN,0,0,0,NaN,0.0,1,0,1
4,Gold - Spandau Ballet http://t.co/o8ZJHt7Neu,24858289.0,0,NaN,NaN,0,0,0,NaN,0.0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23984832,My English teacher made my day by saying that ...,147900782.0,0.0,NaN,NaN,0,0,0.0,NaN,0.0,0,0,0
23984833,RT @tyleroakley: ahhhh! I see #BringYoutubersT...,147900782.0,0.0,NaN,NaN,4678,0,0.0,NaN,1.0,0,1,0
23984834,RT @9GAG: Heaven is a place on earth with you ...,147900782.0,0.0,NaN,NaN,9368,0,0.0,NaN,0.0,0,1,0
23984835,WOAH. #LowerPricesForHoneymoonTourPH needs to ...,147900782.0,0.0,NaN,NaN,0,0,0.0,NaN,1.0,0,0,0
23984836,Let me start off with a clean slate.,147900782.0,0.0,NaN,NaN,0,0,0.0,NaN,0.0,0,0,0

Save dataframe to csv.

In [79]:
df.to_csv('bot_data.csv')